body{
    margin: 0; font-family: Calibri;
}
.resize-main{
}
.resize-im{ position: relative;
}
.resize-im .resize-footer{
    position: absolute; bottom: 0; 
    margin-left: 10%; 
}
.resize-im .resize-footer p{
    color: grey;
}
.resize-im .resize-footer p a{
    text-decoration: none;
    color: grey;
}
.resize-im img{
    width: 100%; height: 400px; 
}
.resize-imf img{
    position: relative; top: 5px
}
.resize-three{  width: 100%; position: absolute; display: flex; justify-content:space-around;
    align-items: center;
    top: 5px;
}
.resize-core{
  margin-top: ; position: relative;
}
.resize-content{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.resize-left p, .resize-right p{ 
    text-align: ;
    max-width: 450px; 
    margin: 0 20px; font-size: 22px;
   color: #585858;
}
.resize-content-t { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    border: 1px dashed #ccc;
    border-radius: 7px;
    padding: 10px;
}
.resize-titl h1{
    max-width: 450px; letter-spacing: 0.5px;
}
.resize-titl p{
    font-size: 20px; color: grey;
}
.resize-left{
    display: flex; align-items: center;
}
.resize-right{
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}
.goodeco{
    text-decoration: underline;
}
span.txtt {
    font-size: 14px;
}
@media screen and (max-width: 760px){
    .resize-im img {
    height: auto;
}
img{
    max-width: 100%;
}
.resize-titl h1 {
    padding: 10px;
}
.resize-content-t{
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

}
@media screen and (max-width: 550px){
    .resize-titl h1 {
    font-size: 24px;
}
.resize-left img, .resize-right img {
    width: 125px;
}
}
@media screen and (max-width: 350px){
    .resize-left, .resize-right{
        display: block;
    }
    .resize-left p, .resize-right p{
        font-size: 19px;
    }
    .resize-titl h1 {
    font-size: 18px;
}
}
